* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

#app {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 1em auto; */
}

#head, #main, #foot {
    /* height: 200px; */
        margin: 1em auto;

}

#head {
    flex: 15%;
    /* height: 100vh; */
    background-color: aqua;
    /* width: 100%; */
}

#main {
    flex: 70%;
    background-color: brown;

}

#foot {
    flex: 15%;
    background-color: darkgreen;

}

#head-content, #main-content, #foot-content {
    /* height: 100px; */
    height:  inherit;
    border: 10px solid black;
    /* margin: 1em; */
    /* width: 90%; */
    margin: 0 auto;
}



