@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* font-family: 'Baloo Paaji 2', cursive; */
  font-family: "Raleway", sans-serif;
  font-size: 100%;
}

html,
body {
  font-family: "Raleway", sans-serif;
  /* padding: 3em 2em; */
  font-size: 18px;
  /* background: #222;
  color: #aaa; */
  background-color: white;
}

#app {
  width: 100%;
  height: 100vh;
  font-size: 1.4em;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 1em auto; */
}

.container-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 1em auto; */
}

#head,
#foot {
  /* height: 50vh; */
  flex: 15%;
  /* background-color: #931bf5; */
  background-color: #222;
  color: white;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#head > h1 {
  font-weight: 200;
  margin: 0.4em 0;
  font-size: 1.5em;
}

#typewriter {
  text-align: center;
  /* line-height: 2em; */
  height: 2.5em;
}

#main {
  /* height: 50px; */
  flex: 70%;
  /* background-color: #ffeead; */
}

#foot-content {
  /* height: 100px; */
  /* height:  inherit; */
  border: 10px solid black;
  /* margin: 1em; */
  /* width: 90%; */
  margin: 0 auto;
}

.card {
  /* border: 10px solid black; */
  background-color: rgb(242, 250, 250);
  height: inherit;
  padding: 1.1em 2em;
  margin: 1.1em 2em;

  box-shadow: 10 4px 28px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* width: 40%; */
  border-radius: 5px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 10px rgba(0, 0, 0, 0.2);
}
.card p.text {
  text-align: justify;
  width: inherit;
}

.card-img-prop {
  height: inherit;

  /* border-radius: 5px 5px 0 0; */
}
.card-img {
  height: 5em;
  width: 100%;
  text-align: center;
  /* border: 1px solid black;
  background-color: bisque; */
}

@media screen and (min-width: 769px) {
  .container-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* justify-content: stretch; */
    /* align-content: center; */
  }
  #main {
    margin: 0;
    padding: 0;
  }
  .card {
    /* border: 10px solid black; */
    background-color: rgb(242, 250, 250);
    height: inherit;
    /* padding: 1.1em 2em; */
    margin: 1.1em auto;
    max-width: 40%;

    box-shadow: 10 4px 28px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 40%; */
    border-radius: 5px;
    text-align: center;
  }

  #typewriter {
    text-align: center;
    height: inherit;
  }
}

@media screen and (max-width: 320px) {
  .card {
    /* border: 10px solid black; */
    background-color: rgb(242, 250, 250);
    height: inherit;
    padding: 1.1em 2em;
    /* margin: 1.1em 2em; */
    /* margin: 0 auto; */

    box-shadow: 10 4px 28px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 40%; */
    border-radius: 5px;
    text-align: center;
  }
}
